[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.log
[Vv]spscc
[Vv]ssscc
*.csproj.user
*.build.log
*.buildresult

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.idea/
*.sln.iml

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

project.lock.json
project.fragment.lock.json
artifacts/

BenchmarkDotNet.Artifacts/
*.BenchmarkDotNet.Artifacts/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db